{% extends 'layout/layout.twig' %}
{% block pageTitle %}
    {{ PageTitle ('API管理') }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">同步學期資料
                    <span id="sync-btn" class="btn btn-primary btn-xs pull-right"><i class="fa fa-sync"></i> 同步</span>
                </li>
                <li class="list-group-item">更改密碼
                    <span class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-key"></i> 更改密碼</span>
                </li>
            </ul>

        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">批次更改密碼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" name="password_list" id="password_list" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="send-btn" class="btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block inline %}

    <script>

        $("#sync-btn").click(function () {
            let $this = $(this);
            $this.button('loading');
            $.get('/admin/api/sync-semester', function (res) {
                if (res.success) {
                    $this.button('reset');
                }
                else {
                    alert(res.message);
                    $this.button('reset');
                }
            })
        });

        $("#send-btn").click(function () {
            let text = $("#password_list").val();
            $.get('/admin/api/change-password',{str: text}, function (res) {

            })
        });

    </script>
{% endblock inline %}