# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*.local.php
config/application.config.old

# Binary gettext files
*.mo


# Data
data/logs/
data/files/
data/cache/
data/sessions/
data/migrations/
data/tmp/
temp/
public/uploads

# Legacy ZF1
demos/
extras/documentation
.idea
