<p><a class="btn btn-default"
   href="{{ url('user/default',{'controller':'user-set', 'action':'index'}) }}">編輯個人資料</a>
</p>
<p><a class="btn btn-default"
      href="{{ url('user/default',{controller:'user-set',action:'change-password'}) }}"><i class="fa fa-edit"></i> 更換密碼</a></p>
