<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>社區大學選課系統-{% block title %}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block style %}{% endblock style %}
</head>
<body>
{% block content %}{% endblock content %}

<script src="{{ basePath }}/js/jquery.min.js" type="text/javascript"></script>
{% block inline %}{% endblock inline %}
</body>
</html>