{% extends 'layout/layout.twig' %}
{% block content %}
 {{ form(studentForm) }}

  <div id="list-data">

  </div>

{% endblock content %}


{% block inline %}
    <script>
        $("select[name='semester_id']").change(function () {
            $("#student_form").submit();
        });

        $("select[name='class_id']").change(function () {
            let id = $(this).val();
            $.get('get-data', {class_id: id}, function (html) {
                $("#list-data").html(html);
            })
        });

        $("select[name='class_id']").trigger('change');

    </script>
{% endblock %}
