{% extends SelectedLayout() %}
{% block pageTitle %}
    {{ PageTitle ('使用者註冊', {'icon':'ion-ios-personadd-outline'}) }}
{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-body">
            <p>歡迎您加入 CMS 會員</p>
            <p>帳號確認信已寄至您的信箱，請前往收信，驗證帳號。</p>

    </div>
</div>

{% endblock %}
