<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => [
                    'dbname' => 'cms',
                    'user' => 'root',
                    'password' => 'changeMe',
                    'host' => 'localhost',
                    'port' => '3306',
                    'charset' => 'utf8mb4',

                ],
            ]
        ],
        'authentication' => [
            'orm_default' => [
                'objectManager' => 'doctrine.entitymanager.orm_default',
                'identityClass' => 'Base\\Entity\\User',
                'identityProperty' => 'username',
                'credentialProperty' => 'password',
                'credentialCallable' => 'Base\\Entity\\User::hashPassword',
            ],
        ]
    ],

    // theme file
    'default_layout' =>[
        'name' => 'layout-timer'
    ],
    // 驗證碼設定
    'captcha-image' => array(
        'font' => './fonts/arial.ttf',
        'width' => 265,
        'height' => 45,
        'wordlen' => 3, // 字數
        'dotNoiseLevel' => 40,
        'lineNoiseLevel' => 3
    ),

    // session time out 2小時
    'session_timeout' => 7200

];
